# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.auto.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Docker/Local
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
